@charset "UTF-8";
/* Підключення фрифтів */
/* Google Fonts (Plugin) */
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700&display=swap");
/* Локальне підключення шрифтів */
@import url("reset.css");
/* .... */
/* Скидання стилів */
/* Основні стилі */

body {
    font-family: Literata;
    font-size: 100%;
    line-height: 1;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    background: #1a1c1f;
    color: #ffffff;
    padding-inline: 2rem;
}
.pen {
    /* background-color: #0d2d5e; */
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
    padding: 1rem;
    border: 1px solid #e98604;
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s;
}
a:hover {
    color: #ec9d09;
}
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
h1,
p {
    font-size: 1.5rem;
    margin: 0 auto 1rem auto;
    color: #db8514;
}
.page p{
    font-size: 1.5rem;
    margin: 0 auto 1rem auto;
    color: #db8514;
}
h1 {
    text-align: center;
    font-size: 2.5rem;
    margin: 0px auto 2rem auto;
    color: #db8514;
}

.cards {
    border: 1px solid #d1c6c6;
    margin: 0 auto;
    max-width: 1600px;
    padding-inline: 0.625rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 0.625rem;
    transition: all 1s;
    @media (max-width: 900px) {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
    @media (max-width: 530px) {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        font-size: 1rem;
    }
}

.card {
    margin-block: 0.625rem;
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: linear-gradient(rgba(151, 150, 150, 0.5), rgba(8, 8, 8, 0.5));
    transition: all 1s;
}
.card a {
    font-size: 2.5rem;
    margin-block: 1rem;
    @media (max-width: 530px) {
        font-size: 1rem;
        margin-block: 0.7rem;
    }
}
.card p {
    color: #ffffff;
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 22px;
}
.card__text {
    font-size: 2rem;
}
.card:hover {
    /* transform: scale(0.99); */
    transition: all 0.2s;
    background-color: #d3a20028;
}
p.task {
    max-width: 400px;
    color: #db8514;
    transition: all 0.3s;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* -webkit-line-clamp: 5; */
    overflow: hidden;
}
.well_link {
    color: #e98604;
    font-size: 1.7rem;
}
.mini_link {
    margin-left: 30px;
    color: #eecd71;
    margin-bottom: 15px;
}

.mini_link::before {
    content: "🔗";
    margin-right: 5px;
    margin-left: -40px;
}

.rest {
    color: red;
}
.gilp {
    color: #db8514;
}
table {
    border-collapse: separate;
    margin: 0 auto;
    max-width: 100%;
    padding-inline: 0.625rem;
    transition: all 0.3s;
}

tr {
    margin: 5px;
    margin-block: 0.625rem;
    padding: 0.625rem;
    border-radius: 5px;
    background: linear-gradient(rgba(151, 150, 150, 0.5), rgba(8, 8, 8, 0.5));
    transition: all 0.3s;
}
td {
    margin: 5px;
    padding: 0.625rem;
    border: 1px solid #db8514;
    border-radius: 5px;
    background: linear-gradient(rgba(151, 150, 150, 0.5), rgba(8, 8, 8, 0.5));
    transition: all 0.3s;
}

.message:hover {
    height: 200%;
    color: #eb6104e0;
}
.task-list {
    font-size: 1.5rem;
    max-width: 600px;
    margin: 0 auto 25px auto;
}
.task-list li {
    margin-bottom: 15px;
    list-style-type: decimal; /* 1, 2, 3, 4, 5 */
}
.task-list li::marker {
    color: #e98604;
    font-size: 1.5rem;
}
